<div class="buttons">
  <div class="pull-left">
    <img src="catalog/view/theme/default/image/xpayr.png" alt="XPayr" width="120" />
  </div>
  <div class="pull-right">
    <a href="{{ pay_action }}" class="btn btn-primary">{{ button_confirm }}</a>
  </div>
</div>
